{% extends 'portfolio/base.html' %}

{% block content %}

    {% load static %}

    <div class="container text-center">
    
    <br>

    <img height=500 src="{% static 'portfolio/photoPolya.jpg' %}">

    <br>

    <h1>Polya Anokhina is beginner developer</h1>

    <br>

    <h1 style="border-bottom: solid 1px; text-align: start;">Portfolio</h1>

    <br>

    <div style="display: inline-flex; flex-direction: row; gap: 200px">
        {% for project in projects %}

    <div>
        <img height=200 src="{{ project.image.url }}">
        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>
        {% if project.url %}
        <br><a href="{{ project.url }}">Link</a>
        {% endif %}
    </div>    

    {% endfor %}
    </div>
    </div>

{% endblock %}
